// Copy this file to config.js and put your Secret(ish) API keys, etc. in it.
// Note that you're probably going to deploy all this to a public webserver anyway so don't put anything too sensitive in here.

FORECAST_IO_API_KEY = "12345...Replace this with your API key.";

//using Aiden Feldman's awesome JSONProxy: https://jsonp.afeld.me/
BUS_URL = "https://jsonp.afeld.me/?url=http%3A%2F%2Fm.countdown.tfl.gov.uk%2Farrivals%2F76840&callback=?";

//this nasty regex gives us the time to the next 168 bus
BUS_REGEX = /Road&#160;<\/td>\s+<td class="resDue">(\d+)/;

//latitude & Longitude pair to insert in Forecast.IO URL
//this is for a "random" location in London ;)
FORECAST_LAT_LONG = "51.554757,-0.165694";

ROTATION_INTERVAL = 10; //seconds between panel rotations

GOOGLE_URL = "https://jsonp.afeld.me/?url=https://docs.google.com/spreadsheets/d/1cfHDdtHR6r59hfBcl-52XVBZnuFRICpREcYJjeF5xFs/pubhtml?gid=0&single=true&callback=?";

//A google sheet with columns for "text" and "credit"
WISDOM_URL = "https://spreadsheets.google.com/feeds/list/<PUT_YOUR_SPREADSHEET_KEY_HERE>/od6/public/values?alt=json-in-script&callback=x"

//Add panels here
//dashPanels.push({name:'#blank', interval: 500, start_hour: 10, end_hour: 18});
//you can include a panel multiple times for different intervals and time periods
dashPanels.push({name:'#bedtime', interval: 30, start_hour: 22, end_hour: 24});
dashPanels.push({name:'#bedtime', interval: 30, start_hour: 0, end_hour: 1});
//you can use a blank panel for darkness (e.g. from midnight to 8am)
dashPanels.push({name:'#blank', interval: 30, start_hour: 0, end_hour: 8});
dashPanels.push({name:'#wisdom',callback: wisdom_setup, interval: 10, start_hour: 8, end_hour: 24});
dashPanels.push({name:'#weatherBus',callback: weather_setup, interval: 15, start_hour: 8, end_hour: 20});
dashPanels.push({name:'#clock', callback: showTime, interval: 10, start_hour: 0, end_hour: 24});
dashPanels.push({name:'#clock', callback: showTime, interval: 10, start_hour: 0, end_hour: 24});
