// Copy this file to config.js and put your Secret(ish) API keys, etc. in it.
// Note that you're probably going to deploy all this to a public webserver anyway so don't put anything too sensitive in here.

FORECAST_IO_API_KEY = "12345...Replace this with your API key.";

//using Aiden Feldman's awesome JSONProxy: https://jsonp.afeld.me/
BUS_URL = "https://jsonp.afeld.me/?url=http%3A%2F%2Fm.countdown.tfl.gov.uk%2Farrivals%2F76840&callback=?";

//this nasty regex gives us the time to the next 168 bus
BUS_REGEX = /Road&#160;<\/td>\s+<td class="resDue">(\d+)/;

//latitude & Longitude pair to insert in Forecast.IO URL
//this is for a "random" location in London ;)
FORECAST_LAT_LONG = "51.554757,-0.165694";
