doctype html
html lang="en"
  head
    meta charset="utf-8"
    meta http-equiv="X-UA-Compatible" content="IE=edge"
    / refresh every X Seconds
    meta http-equiv="refresh" content="300"
    meta name="viewport" content="width=device-width, initial-scale=1"
    / hide safari stuff on ipad, etc.
    meta name="apple-mobile-web-app-capable" content="yes"
    /
      someday, let's make an icon.
      link rel="icon" type="image/png" href="/images/icon.png"
      link rel="shortcut icon" href="/images/icon.png" type="image/x-icon"
    title nanodash
    link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
    javascript src="//cdnjs.cloudflare.com/ajax/libs/tabletop.js/1.4.3/tabletop.min.js"
    css:
      h1, h2, h3, h4 {
        font-family: /*LeagueSpartanBold,*/ helvetica;
        font-weight: bold;
        /* hacky way to overwrite bootstrap vars */
        margin-top: 10px !important
      }
      html {
        height: 100%;
      }
      body {
        height: 100%;
        background: #000;
        color: #fff;
      }
      h1 {
        line-height: 95%;
      }
      h3 {
         font-size: 10rem;
      }
      .red{
        background: #900;
      }
      #high_c {
        font-size: 12rem;
      }
      #basic_sign{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      #basic_sign h1 {
        text-align: center;
        font-size: 26rem;
      }
      .dashpanel {
        display: none;
        height: 100%;
      }
      .art{
        width: 100%;
        height: 100%;
        text-align: center;
      }
      .art img{
        height: 100%;
      }
  body
    #art.dashpanel
      img
    #weatherBus.dashpanel
      .container
        .row
          .col-md-6
            h3#temp
        .row
          .col-md-12
            h1#temps
              span#high
              small#high_c
            h2#next_bus
            h3#low
    #wisdom.dashpanel
      .container
        .blockToFill
          span#picked
    #long_text.dashpanel
      .container
        .blockToFill
          span#content
    #basic_sign.dashpanel
      / dumb thing because the new vertical centering trick (see CSS above) won't work on my old-ass ipad...
      h2
        br
        br
        br
        br
        br
      h1#content
    script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"
    script src="//cdnjs.cloudflare.com/ajax/libs/FitText.js/1.2.0/jquery.fittext.min.js"
    script src="/js/all.min.js?cachebuster=#{Time.now.to_i}"
